<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="register()">
        <div id="form-container">
          <div class="row justify-content-center">
            <label><b>Username</b></label>
          </div>
          <div class="row justify-content-center">
            <input type="text" autocomplete="name" [(ngModel)]='name' name="user" placeholder="Username" />
          </div>
          <div class="row justify-content-center">
            <label><b>Password</b></label>
          </div>
          <div class="row justify-content-center">
            <input type="password" autocomplete="new-password" [(ngModel)]='phraseOne' name="phraseOne" placeholder="Password" />
          </div>
          <div class="row justify-content-center">
            <label><b>Repeat Password:</b></label>
          </div>
          <div class="row justify-content-center">
            <input type="password" autocomplete="new-password" [(ngModel)]='phraseTwo' name="phraseTwo" placeholder="Password" />
          </div>
          <div class="row justify-content-center">
            <input [disabled]="disableSubmit()" class="btn bg-success" type="submit" value="Register" >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>